* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-bored div{
    height: 100px;
    width: 100px;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    height: 100dvh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #6b8034;
    grid-template-rows: 1fr 5fr;
    gap: 10px;   
}
.stats{
    width: 100%;
    display: grid;
    gap: 20px;
    justify-content: center;
}
.player {
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}
.winer {
    padding: 10px;
    text-align: center;
}
.game-bored{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 10px;
    justify-content: start;
    background-color: red;
}
.box{
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #6b8034;
}
.box img{
    display: none;
}
.score{
    position: absolute;
    top:20px;
    left: 20px;
}
.replay{
    position: absolute;
    top: 20px;
    right: 20px;
}
.footer{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}